/*header*/
#header{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;  
    padding: 10px;  
}
#logo-home {
    width: 17%;
    height: 17%;
    margin-left: 1rem;
    align-self: center;
    margin-right: 50%;
}

#logout{
    margin: auto;
    border: none;
    background-color: #9543A7;
    width: 108.86px;
    height: 36px;
    border-radius: 5px;
    color: #fff;
}

/*home section*/
.section-home{
    display: flex;
    flex-direction: column;
    width: 346px;
    margin: 15px auto;
}

/*Input post*/
#name-user{
    text-align: center;
    font-size: 15px;
}

#comment-container{
    width: 100%;
    height: 7em;
    padding: 0;
    border: 1px solid #9543A7;
    box-shadow: 0 1px 1px 0 rgb(149,67,167 ), 0 1px 3px 0 rgb(149,67,167 );
    margin-top: 10px;

}

#post-container{
    border:none;
    outline: none;
    padding: 10px;
    resize: none;
    align-self: center;
    width: 100%;
    height: 86.61px;
    text-align: justify;
    font-size: 15px;
}

#counter {
    float: right;
    margin-right: 5px;
    color:#544D4D;
}

#share{
    align-self: end;
    width: 92px;
    height: 34px;
    border-radius: 20px;
    background-color: #4A26AA;
    color: white;
    border:none;
    margin-top: 10px;
    font-size: 1rem;
}

#share:disabled,
#share[disabled]{
  background-color: rgba(74,38,170,0.6);
  color: white;
  cursor:not-allowed;
}

/*For each post*/
.post-content{
    margin: .8rem 0;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(161, 161, 161), 0 1px 1px 0 rgb(114, 114, 114);
    background-color: #d9d9d97a;
    font-size: small;
    padding: 10px;
}

.container-header-post{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h2{
    margin: 15px 130px 25px 0;
    font-size: 13px;
    max-width: 113px;
}

#delete-edit {
    display: flex;
}

p.post-user{
    padding: 10px;
    border-bottom: 1px solid gray;
    overflow-wrap: break-word ;
    white-space: pre-wrap;
}

div.like-comment{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 0px;
    margin-top: 7px;
}

i.fa-heart {
/*     width: 25px;
    height: 27.71px;
    margin-left: 50px; */
    margin-right: 5px;
    font-size: 20px;
    color: #E350AB;
} 

img.comment-img {
    width: 24px;
    height: 21px;
    margin: -1.1px, 5px, 100px;
    margin-right: 5px;
}

.icon-container{
    display: flex;
    align-items: center;
    margin-right: -216px;
}

.fa-trash, .fa-pencil{
    margin-right: 5px;
    color: #544D4D;
    font-size: 15px;
}

