/* #body-home{
    height: auto;
    background-color: #968fa84b;
    background-repeat: repeat-y;
} */
#header{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;    
}
#logo-home {
    width: 17%;
    height: 17%;
    margin-left: 1rem;
    align-self: center;
    margin-right: 50%;
}
#profile {
    width: 3.125rem;
    margin: 1rem 0.5rem 0.5rem 1rem;
}
#logout{
    align-self: center;
    border:none;
    background-color: transparent;
}
.section-home{
    display: flex;
    flex-direction: column;
    width: 346px;
    margin: 15px auto;
}

#post-container{
    align-self: center;
    width: 100%;
    height: 70px;
    background-color:#ffff;
}

#share{
    align-self: end;
    width: 92px;
    height: 34px;
    border-radius: 20px;
    background-color: #4A26AA;
    color: white;
    border:none;
    margin-top: 10px;
    font-size: 1rem;
}
#post-content{
    padding: .1rem;
    margin: .8rem 0;
    border: 1px solid #4A26AA;
    background-color: #d9d9d97a;
    font-size: small;
}