.text, #text {
    font-size: 30px;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 27px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.logoTech {
    display: flex;
    width: 225px;
    height: 55.95px;
    margin-top: 54px;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.inputs{
    width: 303px;
    height: 46px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.purpleButton{
    width: 303px;
    height: 53px;
    border-radius: 25px;
    background-color: #4A26AA;
    color: white;
    font-size: 20px;
}

.purpleButton:hover {
    box-shadow: 0.063rem 0.313rem 0.625rem #21244D;
    cursor: pointer;
}

#pAccount{
    font-size: 12px;
}

#divAccount{
    display: flex;
    margin-top: 24px;
}

#signUpButton{
    font-size: 11px;
    color: #E350A8;
    background: none;
    border: none;
    margin-bottom: 72px;
    margin-left: 5px;
}

.loginIcon, .signUpIcon{
    margin-top: 13px;
}