
#pMessage{
    font-size: 12px;
    color: #686E8E;
    width: 310px;
    text-align: center;
    margin: 23px 0 37px;
}

#text{
    margin-top: 70px;  
}

.errorMessage{
    color: red;
    align-self: center;
    margin: 0 0 10px;
}

#congrats{
    color: green;
    align-self: center;
    margin: 0 0 10px;
}