* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*start*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% ;
}

.header{
    display: flex ;
    align-self: center;
}

#logo {
    width: 100%;
    margin: 2.938rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#women-tech {
    display: flex;
    width: 100%;
    padding: 10%;
}

#slogan {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2rem 0;
    width: 20rem;
    color: #E350A8;
    text-align: center;
}

.btns {
    width: 90%;
    height: 3.313rem;
    border: none;
    border-radius: 1.563rem;
    margin: 1rem 0.3rem 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    box-shadow: 0.063rem 0.313rem 0.625rem #473f4985;
    cursor: pointer;
}

.btns:hover,
.btns:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.btns:hover {
    box-shadow: 0.063rem 0.313rem 0.625rem #21244D;
}

#login-btn{
    background: #9543A7;
}

#sign-up-btn{
    background: #E350A8;
}

footer {
    position: fixed;
    width: 100%;
    height: 2rem;
    left: 0;
    bottom: 0;
    background: #B7E7E9;
    text-align: center;
    font-size: 14px;
    padding: 7px 0;
} 